In [1]:
import pandas as pd

In [2]:
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')
train.head()

,ACTION,RESOURCE,MGR_ID,ROLE_ROLLUP_1,ROLE_ROLLUP_2,ROLE_DEPTNAME,ROLE_TITLE,ROLE_FAMILY_DESC,ROLE_FAMILY,ROLE_CODE
0,1,39353,85475,117961,118300,123472,117905,117906,290919,117908
1,1,17183,1540,117961,118343,123125,118536,118536,308574,118539
2,1,36724,14457,118219,118220,117884,117879,267952,19721,117880
3,1,36135,5396,117961,118343,119993,118321,240983,290919,118322
4,1,42680,5905,117929,117930,119569,119323,123932,19793,119325

In [3]:
train.ACTION.value_counts(normalize=True)

1    0.94211
0    0.05789
Name: ACTION, dtype: float64

In [5]:
for col in train.columns:
    print(col, 'has :', len(train[col].unique()))

ACTION has : 2
RESOURCE has : 7518
MGR_ID has : 4243
ROLE_ROLLUP_1 has : 128
ROLE_ROLLUP_2 has : 177
ROLE_DEPTNAME has : 449
ROLE_TITLE has : 343
ROLE_FAMILY_DESC has : 2358
ROLE_FAMILY has : 67
ROLE_CODE has : 343

In [6]:
from itertools import combinations

In [18]:
ls = [3, 2, 4, 6, 9]
for v in combinations(ls, lambda x:):
    print(v)

TypeError: 'range' object cannot be interpreted as an integer

In [26]:
train.T

,0,1,2,3,4,5,6,7,8,9,...,32759,32760,32761,32762,32763,32764,32765,32766,32767,32768
ACTION,1,1,1,1,1,0,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
RESOURCE,39353,17183,36724,36135,42680,45333,25993,19666,31246,78766,...,15679,17308,16354,6921,32147,23497,25139,34924,80574,14354
MGR_ID,85475,1540,14457,5396,5905,14561,17227,4209,783,56683,...,46503,1550,25618,3954,3883,16971,311198,28805,55643,59575
ROLE_ROLLUP_1,117961,117961,118219,117961,117929,117951,117961,117961,117961,118079,...,120140,117961,117961,117961,117961,117961,91261,117961,118256,117916
ROLE_ROLLUP_2,118300,118343,118220,118343,117930,117952,118343,117969,118413,118080,...,120141,118225,118327,118343,118343,118300,118026,118327,118257,118150
ROLE_DEPTNAME,123472,123125,117884,119993,119569,118008,123476,118910,120584,117878,...,121589,123173,118320,120291,119987,119993,122392,120299,117945,117920
ROLE_TITLE,117905,118536,117879,118321,119323,118568,118980,126820,128230,117879,...,120952,119093,122060,118422,118784,118321,121143,124922,280788,118568
ROLE_FAMILY_DESC,117906,118536,267952,240983,123932,118568,301534,269034,302830,304519,...,120953,123174,122060,300136,118785,240983,173805,152038,280788,122142
ROLE_FAMILY,290919,308574,19721,290919,19793,19721,118295,118638,4673,19721,...,118453,119095,290919,118424,290919,290919,249618,118612,292795,19721
ROLE_CODE,117908,118539,117880,118322,119325,118570,118982,126822,128231,117880,...,120954,119096,122062,118425,118786,118322,121145,124924,119082,118570